PORT=4000
DATABASE_URL=postgresql://postgres:password@localhost:5432/ClassroomInspection
HOURLY_RATE=50

#DB_SERVER=localhost
#DB_PORT=1434
#DB_DATABASE=1882CostTrackingDB
#DB_USER=sa
#DB_PASSWORD=Mag17615@
#DB_ENCRYPT=false
#DB_TRUST_CERT=true

